<!DOCTYPE html>
<%- include('layout/style.ejs') %>

<body>
  <div class="container-login">
    <div class="form-login p-3 bg-white rounded-3">
      <% if (hasMessages) { %>
      <section class="my-1">
        <% messages.forEach(function(message) { %>
        <span class="text-danger"><%= message %></span>
        <% }); %>
      </section>
      <% } %>

      
      <form action="/sign-in" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="mb-3">
          <label for="exampleInputTextUsername" class="form-label">Email</label>
          <input type="email" name="username" class="form-control" id="exampleInputTextUsername" aria-describedby="textHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputTextPassword" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputTextPassword" aria-describedby="textHelp">
        </div>
        <div class="d-flex justify-content-evenly">
          <button type="submit" class="btn btn-outline-success">Log in</button>
          <a href="/" class="btn btn-outline-danger">Back Home</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>